<?xml version="1.0" encoding="utf-8"?>
<configuration> 
  <packageSources>
    <add key="myget/mindbox-private" value="https://mindbox.myget.org/F/mindbox-private/auth/30bac00a-124d-42b7-9efd-482125bb1c5e/api/v3/index.json" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)"  />
  </activePackageSource>
</configuration>
