name: Pull Request

on: pull_request

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
     
    - name: Checkout
      uses: actions/checkout@v1

    - name: Setup .NET 7.0
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 7.0.x

    - name: Check License Lines
      uses: kt3k/license_checker@v1.0.6
    
    - name: Build
      run: dotnet build Mindbox.I18n.sln --configuration Release
      
    - name: Test
      run: dotnet test Mindbox.I18n.sln --no-build --configuration Release --collect:"XPlat Code Coverage" --logger trx --results-directory coverage

    - name: ReportGenerator
      uses: danielpalme/ReportGenerator-GitHub-Action@5.1.9
      with: 
        reports: coverage/*/coverage.cobertura.xml
        targetdir: coveragereport
        reporttypes: 'Cobertura'
        verbosity: 'verbose'
        
    - name: Code Coverage Summary Report
      uses: irongut/CodeCoverageSummary@v1.3.0
      with:
        filename: coveragereport/*.xml
        badge: true
        format: 'markdown'
        output: 'both'
        fail_below_min: false
        thresholds: '50 80'

    - name: Add Coverage PR Comment
      uses: marocchino/sticky-pull-request-comment@v2
      with:
        recreate: true
        path: code-coverage-results.md